.info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  margin-top: 3rem;
  width: 90%;
}

.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: black;
  border: 1px solid#e8e8e8;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background-color: #ff5252;
  letter-spacing: 1px;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
}

.fullform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.sub-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  margin-top: 3rem;

}

.sub-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.sub-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

ul button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #ff5252;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 45px;
  transition: .3s;
  margin-top: 1rem;
}

button:hover {
  background-color: #ff5252;
  box-shadow: whitesmoke;
  color: #fff;
}

.infobox {
  width: 15rem;
  height: 15rem;
  color: black;
  border-radius: 11px;
  margin: 1rem;
  
} 

.card {
  position: relative;
  padding: 9px;
  border-radius: 35px;
  box-shadow:  #ff5252 0px 50px 100px -20px inset;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 254px;
  color: #5c5c5c;
  font-family: monospace;
}

.page {
  position: relative;
  box-sizing: border-box;
  max-width: 300px;
  margin: auto;
  margin-top: 5rem;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}

.loadericon {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.emptyerror {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5252;
}
